header{
  height: 180px;
  background-color:rgb(19, 140, 233);
  background-image: url(../img/pattern.png);
}

header img{
  width: 400px;
  margin-top: 50px;
  margin-left: 30px;
}

section.Tim-Berners h1{
  font-size: 60px;
  margin-bottom: 0;
}

p#info-autore{
  margin-top: 0;
  color: gray;
  font-size: larger;
}
section.Tim-Berners p span{
  color: rgb(46, 181, 234);
  
}

p#info-foto{
  font-size: small;
  margin-top: 0;
}

section.contenuto p span{
  background-color: yellow;
}

section.contenuto ul{
  padding-inline-start: 20px;
}

/* Tabella */
table{
  border-collapse: collapse;
}

th, td{
  text-align: left;
}

table thead{
  color: white;
  background-color: rgb(37, 138, 221);
  
}

table .element{
  width: 300px;
}

table .big-element{
  text-align: start;
}

table .blu-row{
  background-color: rgba(19, 167, 226, 0.406);
}

footer h3{
  color: gray;
}

footer div {
  margin-bottom: 10px;
}

.footer-image{
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  height: 180px;
  }

  .footer-image2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 180px;
    }

    span.bianco{
      color: white;
      font-size: x-large;
      font-weight: bold;
      margin-left: 15px;
    }